

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image: url(../gif/5927911.gif);
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    min-height: 100vh;
    ;

}

.modal-content{
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    background-color: rgba(8, 8, 8, 0.767);
    width: 290px; 
}
#parrafo{
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    background-color: rgba(8, 8, 8, 0.767);
    width: 290px;
    height: 230px;
}

img {
    margin: 15px auto; 
    display: block; 
}

.btn {
    border-radius: 20px;
}

.centered-container {
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.centered-container > * {
    margin: 10px 0; 
}


.form-group,#subir_archivo {
    margin-bottom: 20px; 
}

input.form-control {
    width: 100%; 
}

h1,h4,img,h5,#tbla1,#foro,form,#parrafo{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(221, 204, 204);
    border-radius: 10px;
  }

  #exampleInputEmail1,#exampleInputPassword1{
    background-color: rgba(230, 236, 241, 0.767);

  }

  #botoncito_volver{
    background-color: rgba(230, 236, 241, 0.767);
  }




  .btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
  }



  